html {
    background-color: white;
}

body{
    background-color: white;
    margin: 0;
    padding: 0;
    font-size: 20%;
}

head {
    
    margin: 0;
    height: auto;
    width: 100%;
    font-size: 100;
}
.image {
    content: url(night_plovdiv_new.png);
    max-width: 100%;
    max-height: auto;
}

.description_img, .desc_img {
    position: relative;
    content: url(Plovdiv_panorama.jpg);
    width: 100%;
    height: 35vw;
    opacity: 0.35;
    display: block;
    margin-bottom: 3vw;
}

.description_text , .p {
        width:80%;
        font-family: Herculanum;
        font-size: 2vw;
        line-height: 2em;
        position: relative;
        margin-top: -32vw;
        margin-bottom:  5%;
        margin-left: auto;
        margin-right: auto;
        font-weight: 100;
        color: indigo;
        text-align: center;
} 

.title1, .h1 {
    font-family: Herculanum;
    font-size: 2vw;
    position: relative;
    margin-top: 10vw;
    margin-left: 5vw;
    font-weight: 100;
    color: indigo;
    text-align: center;
}

block1 {
    position: relative;
    max-width: 45%;
    width: 40vw;
    height: 25vw;
    margin-top: 3vw;
    margin-right: 1vw;
    margin-left:2vw;
    margin-bottom: 2vw;
    content: url(theater_performance.png);
}

@media only screen and (max-width: 500px){
     block1{
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 35%;
    margin-left: 0;
    margin-right: 0;
    content: url(theater_performance.png);
    }
}

block2 {
    position: relative;
    max-width: 45%;
    width: 40vw;
    height: 25vw;
    margin-top: 3vw;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 2vw;
    content: url(plovdiv_center.png);
} 

@media only screen and (max-width: 500px){
     block2{
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 35%;
    margin-left: 0;
    margin-right: 0;
    content: url(plovdiv_center.png);
    }
}

block3 {
    position: relative;
    max-width: 45%;
    width: 40vw;
    height: 25vw;
    margin-top: 3vw;
    margin-right: 1vw;
    margin-left:2vw;
    margin-bottom: 2vw;
    content: url(theater_performance.png);
}

@media only screen and (max-width: 500px){
     block3{
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 35%;
    margin-left: 0;
    margin-right: 0;
    content: url(theater_performance.png);
    }
}

block4 {
    position: relative;
    max-width: 45%;
    width: 40vw;
    height: 25vw;
    margin-top: 3vw;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 2vw;
    content: url(plovdiv_center.png);
} 

@media only screen and (max-width: 500px){
     block4{
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 35%;
    margin-left: 0;
    margin-right: 0;
    content: url(plovdiv_center.png);
    }
}



.map_header {
    font-family: Herculanum;
    font-size: 2vw;
    position: relative;
    margin-top: 5vw;
    margin-bottom:  5vw;
    font-weight: 900;
    color: indigo;
    margin-left: 30vw;
    text-align: center;
}

.video_header {
    font-family: Herculanum;
    font-size: 2vw;
    position: relative;
    margin-top: 5vw;
    margin-bottom: 5vw;
    margin-left: 10%;
    font-weight: 900;
    color: indigo;
    text-align: center;
    
}


/* Change the background color when mouse over items */
nav li:hover {
    color:#fff; background:#666666; opacity:0.4;
}
/* display the submenu on mouse over main menu item*/
nav li:hover > ul{
    position: absolute;
    display : block;
}

 nav {
    background-color: indigo;
    margin: 0;
    text-align: center;
    text-indent: auto;
    overflow: hidden;
} 

nav ul{
    margin: 0;
    padding: 0;
} 
nav ul li {
    /* This allow us to arrange list items in a row, without using float */
    display: inline-block;
    list-style-type: none;
}
 
/* Create a style for the first level items */
nav > ul > li > a {
    color:white;
    font-family: Herculanum;
    font-size: 2vw;
   /* background-color: darkgray ;*/
    display: block;
    line-height: 1em;
    margin-left: 50px;
    margin-right: 50px;
    padding: 0.5em 0.5em;
    text-decoration: none;
}

nav li > ul li{
    display: block;
}
 

table {
border-collapse: collapse;
width: 100%;
color: #588c7e;
font-family: monospace;
font-size: 1vw;
text-align: center;
}
th {
background-color: #588c7e;
color: white;
}
tr:nth-child(even) {background-color: #f2f2f2}







